/node_modules
/gpx_store
/data/inputs/challenger_tracks/*
/data/output/*
/data/inputs/reference_track/*
/data/long-term-storage/*
/dist

!/data/inputs/challenger_tracks/.gitkeep
!/data/inputs/reference_track/.gitkeep
!/data/long-term-storage/.gitkeep
!/data/output/.gitkeep
